.random-quote {
    text-align: center;
    padding: 20px;
  }
  
  .random-quote button {
    background-color: #1a61e4;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .random-quote button:hover {
    background-color: #302188;
    transition: 0.3s;
  }
  
  .saved-quotes {
    margin-top: 40px;
  }
  
  .saved-quotes h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }