.App {
  text-align: center;
}

.App-header {
  background: rgba(255, 255, 255, 0.274);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.292), 0 1px 3px rgba(0, 0, 0, 0.507);
}